<div class="posts">
  <div class="text">
  <h2>
    投稿が完了しました。
  </h2>
</div>
  <div class="buttons">
    <ul>
      <li class="post-btn firstBtn"><a href="/posts">投稿一覧へ戻る</li>
    </ul>
  </div>
</div>
