<% @posts.each do |post| %>
<div class="posts">
  <div class="text">
    <p><%= simple_format(post.text) %></p>
  </div>
  <div class="buttons">
    <ul>
      <li class="post-btn firstBtn"><%= link_to 'SHOW', "/posts/#{post.id}", method: :get %></li>
      <li class="post-btn"><%= link_to 'EDIT', "/posts/#{post.id}/edit", method: :get %></li>
      <li class="post-btn"><%= link_to 'DELETE', "/posts/#{post.id}", method: :delete %></li>
    </ul>
  </div>
</div>
<% end %>
