<div class="posts">
  <div class="text">
    <p><%= simple_format(@post.text) %></p>
  </div>
  <div class="buttons">
    <ul>
      <li class="post-btn firstBtn"><%= link_to 'BACK', "/", method: :get %></li>
    </ul>
  </div>
</div>
