<div class="posts new">
  <div class="text">
    <h2>
      更新が完了しました。
    <h2>
       <div class="buttons">
    <ul>
      <li class="post-btn"><%= link_to 'BACK', "/", method: :get %></li>
    </ul>
  </div>
  </div>
</div>
